# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Ignore system files
desktop.ini
Thumbs.db
*.jfif

# Ignore installers and executables
*.exe
*.msi
*.zip

# Ignore logs and temporary files
*.log
*.tmp

# Ignore CSV or other local data
*.csv

# Ignore build and dist folders
dist/
build/
